@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 700;
  src: local("Alegreya Bold Italic"), local("Alegreya-BoldItalic"),
    url("assets/fonts/Alegreya-BoldItalic.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Regular"), local("Alegreya-Regular"),
    url("assets/fonts/Alegreya-Regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya Bold"), local("Alegreya-Bold"),
    url("assets/fonts/Alegreya-Bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 800;
  src: local("Alegreya ExtraBold"), local("Alegreya-ExtraBold"),
    url("assets/fonts/Alegreya-ExtraBold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

:root {
  --border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    )
    1;
}

body {
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrap {
  max-width: 1024px;
  min-width: 700px;
  margin: 20px auto;
  -webkit-box-shadow: 10px 10px 35px -5px rgba(166, 161, 166, 1);
  -moz-box-shadow: 10px 10px 35px -5px rgba(166, 161, 166, 1);
  box-shadow: 10px 10px 35px -5px rgba(166, 161, 166, 1);
}

.header {
  margin: 10px auto;
  text-align: center;
  border-bottom: 1px solid;
  border-image: var(--border-image);
}

.header h1 {
  font-family: "Alegreya", sans-serif;
  font-weight: 800;
  font-size: 35px;
  display: block;
  margin: 0 0 15px 0;
}

.header p {
  font-family: "Alegreya", sans-serif;
  font-weight: 800;
  font-size: 40px;
  display: inline-block;
  margin: 15px auto 10px;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.aside {
  margin: 20px;
  flex-basis: 30%;
}

.aside p,
.aside a,
.aside i,
.aside li  {
  text-decoration: none;
  color: black;
  font-family: "Alegreya", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.aside strong {
  font-weight: 700;
}

.aside-list__item a:hover {
  display: inline-block;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.aside img {
  border-radius: 30%;
  margin: 0 0 20px 0;
}

.section {
  margin: 20px;
  flex-basis: 69%;
}

.section h2 {
  font-family: "Alegreya", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 25px;
  line-height: 2;
}

.section h3 {
  font-family: "Alegreya", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 22px;
  line-height: 1.5;
}

.section p,
.section a,
.section li {
  font-family: "Alegreya", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.section li strong {
  font-family: "Alegreya", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.summary h3 {
  display: none;
}

.footer {
  text-align: center;
  border-top: 1px solid;
  border-image: var(--border-image);
}

ul.footer-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.footer-list__item {
    display: inline-block;
    flex-basis: 15%;
    margin: 20px;
}

.footer-list__item img {
    height: 60px;
}

.footer p {
    font-family: "Alegreya", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
}

.line {
  display: inline-block;
  margin: 10px;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
